.header {
  background-color: $off-black;
  margin-bottom: 4.5rem;
  padding: $font-small 0;
  color: $off-white;
}

.header__title {
  font-size: $font-big;
  margin: 0;
  color: $tomato;
}

.header__subtitle {
  font-size: $font-medium;
  margin: 0;
  color: $off-white;
  font-weight: 500;
}