body > div.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--bedore-close {
  opacity: 0;
}

.modal {
  background-color: $tomato;
  padding: $font-medium;
  text-align: center;

  color: $off-white;

  font-size: $font-small;
  text-transform: uppercase;

  p {
    word-break: break-all;
  }

  button {
    background-color: $off-white;
    border: none;
    color: $tomato;
    font-weight: 900;
    padding: .5rem 2rem;
    font-size: 2rem;

    transition: .2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}