.widget {

  &__header {
    background-color: $tomato;
    color: $off-white;
    padding: $font-small;

    display: flex;
    justify-content: space-between;
  }

  & .option {
    background-color: lighten($tomato,5%);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: $font-small;

    border-bottom: .2rem solid rgba($off-white, .4);

    color: $off-white;
  }

  & .footer {
    background-color: $tomato;
    display: flex;
    justify-content: space-between;

    input {
      width: 100%;
      font-size: 2.2rem;
    }
  }

}

.errorMessage {
  background-color: $tomato;
  color: $off-white;
  padding: $font-small;
  text-align: center;

  font-size: $font-medium;

  border: 2px solid darken($tomato, 10%);

  transition: .5s;

  margin: 0;
}
